/* ОБЩИЕ СТИЛИ
стили элементов, не относящихся к конкретным блокам */

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  right: 0;
}

.link_active {
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.list-item_no-bullit {
  list-style: none;
}

/* HEADER 
стили, относящиеся к блоку header (меню, логотип, адрес) */

.header {
  display: grid;
  /* 136px — размер логотипа, расположенного по центру хедера */
  grid-template-columns: 1fr 136px 1fr;
  padding: 92px 24px 96px;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__links-list {
  display: flex;
  list-style: circle;
  font-size: 18px;
  line-height: 1.3;
  gap: 32px;
}

.address {
  font-size: 18px;
  line-height: 1.3;
  font-style: normal;
  width: 240px;
  align-self: center;
  justify-self: end;
}

.header > .address {
  margin-right: 25px;
}

/* COVER 
стили, относящиеся к блоку cover */

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
}

.cover__title {
  position: relative;
  z-index: 1;
  font-size: 100px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding: 165px 50px 135px;
  letter-spacing: 0.3em;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  padding: 0 50px 51px 78px;
  gap: 79px;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  padding: 12px 32px;
}

/* LOTS 
стили, относящиеся к блоку lots: заголовок, ссылка и список карточек */

.lots {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 179px 24px 0;
}

.lots__heading {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  padding-left: 40px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  list-style-type: none;
}

.lots__card-list-item {
  flex: 1 1 334px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 334px;
  min-height: 563px;
  padding: 51px 40px 48px;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card-link {
  display: block;
  text-decoration: none;
}

.card__title {
  position: relative;
  z-index: 1;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline;
  color: #fff;
}

.card__text {
  position: relative;
  z-index: 1;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
}

.lots__look-more-link {
  font-size: 20px;
  line-height: 1.2;
  text-transform: lowercase;
  padding-left: 40px;
}

/* ABOUT
стили, относящиеся к блоку about */

.about {
  padding: 184px 24px 180px;
  display: grid;
  grid-template-columns: 334px 1fr;
}

.about__column {
  display: flex;
  justify-content: center;
}

.about__column_right {
  flex-direction: column;
  padding-left: 25px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  padding-bottom: 100px;
  padding-top: 100px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
}

/* FOOTER  
стили, относящиеся к блоку footer (часть стилей переиспользована из header: .address) */

.footer {
  padding: 0 50px 88px;
  display: flex;
  gap: 185px;
}

.footer .address {
  align-self: flex-start;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  text-transform: lowercase;
}

.footer__menu-list-item {
  min-width: 150px;
}

.footer__menu-link {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  align-content: space-between;
  gap: 48px;
  list-style-type: none;
}

.footer__social-list-item {
  width: 48px;
}
